@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #101010;
  --primary: #5370b9;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}