@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #101010;
  --item: #151515;
  --primary: #5370b9;
}

.level {
  background: linear-gradient(to right, #2a12bd, #ff96f9);
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 100px rgba(0,0,0,0.9) inset;
}

@font-face {
  font-family: 'omori';
  src: url('/font/OMORI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.headspace {
  background-image: url('/img/omori/headspace.png');
  background-repeat: repeat;
}

.neighbor {
  background-image: url('/img/omori/neighbor.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.sweetheart {
  background-image: url('/img/omori/sweetheart.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}