@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #101010;
  --item: #151515;
  --primary: #5370b9;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

@font-face {
  font-family: 'VCR';
  src: url('/font/VCR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karina';
  src: url('/font/Karina.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 100px rgba(0,0,0,0.9) inset;
}